 <h1>Event Planning</h1>
  <form action="process_event.php" method="POST">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br><br>

    <label for="time">Time:</label>
    <input type="time" id="time" name="time" required><br><br>

    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required><br><br>

<label for="inviteMethod">Invite Method:</label>
    <section id="inviteMethod" name="inviteMethod" required>
      <button type="button" onclick="getEventLink()">Get Event Link</button>
      <p>Send invitations yourself. Anyone with the link can RSVP to this event</p><br>
      <button type="button" onclick="enterGuestInfo()">Send Invite to Email</button>
      <p>Enter the names and email addresses of your guest and we'll send an invitation for you.</p>
    </section><br><br>

    <h2>Guests</h2>
    <div id="guestFields">
      
      <div id="guestFields">
        <div class = "guest" id="guest1">
          <label for="name1">Name:</label>
          <input type="text" id="name1" name="guests[][name]" required>
  
          <label for="email1">Email:</label>
          <input type="email" id="email1" name="guests[][email]">
        </div>
  
        <div class = "guest" id="guest2">
          <label for="name2">Name:</label>
          <input type="text" id="name2" name="guests[][name]" required>
  
          <label for="email2">Email:</label>
          <input type="email" id="email2" name="guests[][email]">
        </div>
  
        <div class = "guest" id="guest3">
          <label for="name3">Name:</label>
          <input type="text" id="name3" name="guests[][name]" required>
  
          <label for="email3">Email:</label>
          <input type="email" id="email3" name="guests[][email]">
        </div>

        <div class = "guest" id="guest4">
          <label for="name4">Name:</label>
          <input type="text" id="name4" name="guests[][name]" required>
  
          <label for="email4">Email:</label>
          <input type="email" id="email4" name="guests[][email]">
        </div>

        <div class = "guest" id="guest5">
          <label for="name5">Name:</label>
          <input type="text" id="name5" name="guests[][name]" required>
  
          <label for="email5">Email:</label>
          <input type="email" id="email5" name="guests[][email]">
        </div>

    

    </div>
</div>
  <button type="button" onclick="addGuestField()">Add Guest</button><br><br>

    <button type="button">Send Emails</button>
  </form>


<script src="/js/event.js"></script>