{{#if userInSession}}

  <h2>Welcome, {{userInSession.username}}!</h2>

  <h2>Upcoming Events:</h2>
  <ul id="eventList">

  </ul>

  <a href="/event"><button id="addEventButton">Add Event</button></a>

{{else}}

  <br /><p>Still no logged in user, sorry!</p>

{{/if}}