<h1>Potluck Dinner Suggestions</h1>
<form>
  <label for="dishName">Dish Name:</label>
  <input type="text" id="dishName" name="dishName" required /><br /><br />

   <label for="recipeLink">Recipe Link:</label>
  <input type="url" id="recipeLink" name="recipeLink" /><br /><br />

  <fieldset class="checkbox-grid">
    <legend>Allergens:</legend>
    <label><input type="checkbox" name="allergens" value="peanuts" />
      Peanuts</label><br />
    <label><input type="checkbox" name="allergens" value="tree-nuts" />
      Tree Nuts</label><br />
    <label><input type="checkbox" name="allergens" value="shellfish" />
      Shellfish</label><br />
    <label><input type="checkbox" name="allergens" value="fish" />
      Fish</label><br />
    <label><input type="checkbox" name="allergens" value="milk" />
      Milk</label><br />
    <label><input type="checkbox" name="allergens" value="eggs" />
      Wheat</label><br />
    <label><input type="checkbox" name="allergens" value="soy" /> Soy</label><br
    />
  </fieldset>
  <br />

  <fieldset class="checkbox-grid">
      <legend>Dietary Requirements:</legend>
      <label><input type="checkbox" name="mealDietary" value="vegan" />
        Vegan</label><br />
      <label><input type="checkbox" name="mealDietary" value="vegetarian" />
        Vegetarian</label><br />
      <label><input type="checkbox" name="mealDietary" value="gluten-free" />
        Gluten-free</label><br />
      <br />
    </fieldset>
<br />
 

  <button type="button" onclick="addSuggestion()">Add Suggestion</button><br
  /><br />

  <ul id="suggestionList"></ul>


</form>

<script src="/js/suggestions.js"></script>